/* Split panel styling */
.split-container {
  display: flex;
  height: 100%;
}

.gutter {
  background-color: hsl(var(--border));
  background-repeat: no-repeat;
  background-position: 50%;
  cursor: col-resize;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}

.gutter.gutter-horizontal:hover {
  background-color: hsl(var(--primary) / 0.2);
}
